@charset "UTT-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/
body {
    background-color: rgb(205, 255, 203);
}

h1 {
    color: rgb(4, 109, 0);
}

h1#principal {
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h2 {
    color: rgb(4, 109, 0);
}
.basico {
    color: rgba(36, 129, 36, 0.582);
}

.intermediario {
    color: rgba(199, 199, 30, 0.692);
}

.avancado {
    color: rgba(138, 27, 27, 0.753);
}